/* Ensure no horizontal scroll */
html, body {
    overflow-x: hidden;
    width: 100%;
}

.form_container{
    background-color:#1c1c1c;
    padding: 6px;
    width: 100%;
    justify-items: center;
    border-radius: 6px;
    color: #f0f9fd;
}

form{
    width: 100%;
    font-size: 1rem;
    font-weight: 300;   
    padding: 6px;
}

.form_container input, 
.form_container select {
    width: 100%;
    font-size: 1rem;
    font-weight: 200;
    background-color: #f0f9fd;
   
}


/* Ensure no horizontal scroll */
html, body {
    overflow-x: hidden;
    width: 100%;
}