.home-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  padding-top: 10px;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(rgba(227, 227, 227, 0.5), rgba(227, 227, 227, 0.5)), /* bright grey overlay */
    url("../../assets/images/AdobeStock_320947940_Preview.jpeg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}



.home-container > li:hover {
  background-color: aqua;
}

.card {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  text-align: center;  
  width: 100%;
  max-width: 300px;
  font-size: 18px;
  color: #000000;  
  
  margin-bottom: 16px;  
}
.card .title{
  width: 100%;
  background-color: #0e2050;
  color: #f8f9fa;
}
.grade {
  font-weight: bold;
  margin-bottom: 15px;
  color: #0e2050;
  border-bottom: 1px solid #0e2050;
  
}

.explore-button:hover {
  background-color: #0056b3;
}

/* Scoped style specific to nested-list */


.home-container .nested-list {
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4); /* Stronger shadow on hover */
  cursor: pointer;
}

.home-container .nested-list li {
 text-align: left;
 margin-top: 10px;
 padding-left: 16px;
 cursor: pointer;
}

.home-container .nested-list li:hover {
  color: purple;
}

.home-container .nested-list li:focus {
  color: blue;
  text-decoration: underline;
}


/* Prevent hover effects on nested list items */
.home-container .nested-list li > ul {
  cursor: default; /* Disable hover effects for nested lists */
}
.subjectList{
  
}
.subjectList ul,
.subjectList ol {
  list-style: none;
  padding: 0; /* Corrected padding value */
  cursor: pointer;
}

.subjectSpan:focus {
  font-weight: bolder;
  padding: 6px 18px;
  color: rgba(119, 6, 211, 0.87);

  margin-bottom: 16px;
  
}

.data-display-container{

}

.data-list{

}
.data-list li{
list-style: none;
color: #1c6fc6;
text-decoration: underline;
font-size: 14px;
}



