
.custom-title {
  color: #007bff; /* Bootstrap primary blue or any shade you prefer */
  text-decoration: underline;
}

.logo-small {
    width: 50px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}
.btn-outline-greenish {
    background-color: transparent;
    border: none; /* Greenish border */
    color: #28a745;            /* Greenish text */
    font-weight: bolder;
  }
  
  .btn-outline-greenish:hover {    
    color: #0e2050;             
    
  }
  
